html {
  font-size: 10px;
  background: rgb(240,240,240);
  height: 450px;
  margin: 0;
}

body {
  width: 450px;
  background: rgb(240,240,240);
  height: inherit;
}

.container {
  overflow: auto;
  width: 100%;
  height: 445px;
  background: rgb(240,240,240);
}

/* form control styling */

input, textarea {
  border: 1px solid rgb(218,218,218);
  padding: 4px;
  background: white;
  border-radius: 3px;
}

.btn {
	text-align:left;
	font-size:16px;
	border-radius:0px;
}

div.row div
{
	border: 1px solid #000000;
}

