.leading-6 a.bias {
    padding: 3px 5px;
    border-radius: 5px;
}

a.bias, a.bias > span {
    color: #FFF !important;
}

a.bias-left-center, a.bias-left-center > span, a.bias-right-center, a.bias-right-center > span {
    color: #111 !important;
}

a.bias-extreme-left {
    background-color: var(--fl-extreme-left-color) !important;
}

a.bias-left {
    background-color: var(--fl-left-color) !important;
}

a.bias-left-center {
    background-color: var(--fl-left-center-color) !important;
}

a.bias-center {
    background-color: var(--fl-center-color) !important;
}

a.bias-right-center {
    background-color: var(--fl-right-center-color) !important;
}

a.bias-right {
    background-color: var(--fl-right-color) !important;
}

a.bias-extreme-right {
    background-color: var(--fl-extreme-right-color) !important;
}

a.bias-satire {
    background-color: var(--fl-satire-color) !important;
}

a.bias-fake {
    background-color: var(--fl-fake-color) !important;
}

a.bias-unknown {
    background-color: var(--fl-unknown-color) !important;
}
